# Ignore rules
results/selenium-screenshot-*.png
check_live.py
live_buttons.txt
live_inputs.txt
__pycache__/
*.pyc
.env
tests_draft/

# Local backup tests
tests/AccountTests.robot
tests/AdminTests.robot
resources/page_objects/ProfilePage.resource
resources/locators/ProfilePageLocators.py
